/*
 * Copyright (c) 2026 Nuvoton Technology Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&pwm6 {
	status = "okay";
	pinctrl-0 = <&pwm6_gpc0>;
	pinctrl-names = "default";
};

/ {
	pwm_hb0: pwm_hb0 {
		compatible = "nuvoton,npcx-pwm-heartbeat";
		pwms = <&pwm6 0 20000000 0>;
		status = "okay";
	};
};
